/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
* {
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pl-content {
  position: relative;
  background: transparent url('/images/content@x2.png') 0 0 no-repeat;
  -webkit-background-size: 1258px 970px;
  background-size: 1258px 970px;
  margin: 2% auto 0;
  width: 1258px;
  height: 970px;
}
.pl-content:before,
.pl-content:after {
  content: " ";
  display: table;
}
.pl-content:after {
  clear: both;
}
.pl-content_block {
  background: #fff;
  margin: 101px 0 0 117px;
  width: 1024px;
  height: 768px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pl-index {
  position: relative;
  height: 100%;
}
.pl-logo {
  display: block;
  background: transparent url('/images/pl-logo@x2.png') 0 0 no-repeat;
  -webkit-background-size: 294px auto;
  background-size: 294px auto;
  width: 294px;
  height: 341px;
  top: 25%;
  margin: 0 auto;
  position: relative;
}
.pl-canvas {
  background: transparent url('/images/canvas@x2.png') 0 0 no-repeat;
  position: relative;
  -webkit-background-size: 1024px auto;
  background-size: 1024px auto;
  width: 1024px;
  height: 768px;
}
.pl-canvas__container {
  margin: 40px 0 0;
}
.pl-canvas__pictlist {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 999999;
  width: 960px;
  height: 710px;
}
.pl-canvas__pictlist:before,
.pl-canvas__pictlist:after {
  content: " ";
  display: table;
}
.pl-canvas__pictlist:after {
  clear: both;
}
.pl-pictlist_link {
  display: block;
  background: transparent;
  z-index: 999;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: 168px;
}
.pl-delete_object_link {
  display: block;
  background: transparent;
  z-index: 999;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  right: 7px;
}
.pl-layerUp_link {
  color: #fff;
  background: transparent;
  display: block;
  z-index: 999;
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 2px;
  left: 229px;
  font-size: 36px;
  line-height: 32px;
}
.pl-layerDwn_link {
  color: #fff;
  display: block;
  z-index: 999;
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 2px;
  left: 291px;
  font-size: 36px;
  line-height: 32px;
}
.canvas_item {
  display: block;
  cursor: pointer;
  float: left;
  margin-left: 30px;
}
.canvas_item:nth-child(7n+1) {
  clear: left;
  margin-left: 30px;
}
.pl-opacity_slider {
  z-index: 999;
  background: #000;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 24px;
  height: 180px;
  position: absolute;
  top: 163px;
  right: 7px;
}
.pl-opacity_slider .ui-slider-range {
  background: #202020;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.pl-opacity_slider .ui-slider-handle {
  background: #4b4b4b;
  border: none;
  left: -1px;
  margin-bottom: -12px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.pl-opacity_slider .ui-slider-handle:hover,
.pl-opacity_slider .ui-slider-handle.ui-state-active {
  background: #989898;
}
.pl-menu img,
.pl-menu a {
  display: block;
}
.pl-menu__item {
  width: 300px;
  float: left;
  margin-left: 30px;
  margin-top: 70px;
}
.pl-menu__item:nth-child(3n+1) {
  clear: left;
}
