.pl-index{
	position: relative;
	height: 100%;
}
	.pl-logo{
		display: block;
		background: transparent url('/images/pl-logo@x2.png') 0 0 no-repeat;
		.bsize(294px, auto);
		.size(294px,341px);
		top:25%;
		margin:0 auto;
		position: relative;
	}

.pl-canvas{
	background: transparent url('/images/canvas@x2.png') 0 0 no-repeat;
	position: relative;
	.bsize(1024px, auto);
	.size(1024px,768px);
}
	.pl-canvas__container{
		margin: 40px 0 0;
	}

	.pl-canvas__pictlist{
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 50px;
		left: 10px;
		z-index: 999999;
		.size(960px, 710px);
		ul{
			list-style: none;
			.clear();
			li{
				float: left;
				margin-left: 30px;
				&:nth-child(7n+1){
					clear: left;
					margin-left: 30px;
				}
			}
		}
	}
	.canvas_item{
		display: block;
		cursor: pointer;
	}