!!! 5
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Стили || Plastica

  %link{:rel => "stylesheet", :href => "/css/importer.css"}/ 
%body 
  .pl-content
    .pl-content_block
      .pl-menu
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "272", src: "/images/abstract@x2.png", width: "300"}/
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "272", src: "/images/cubism@x2.png", width: "300"}/
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "272", src: "/images/figures@x2.png", width: "300"}/
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "273", src: "/images/fovism@x2.png", width: "300"}/
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "275", src: "/images/letters@x2.png", width: "300"}/
        .pl-menu__item
          %a{href: "/html/canvas.html"}
            %img{alt: "", height: "272", src: "/images/supermatism@x2.png", width: "300"}/