!!! 5
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Главная || Plastica

  %link{:rel => "stylesheet", :href => "/css/importer.css"}/ 
%body 
  .pl-content
    .pl-content_block
      .pl-index
        %a.pl-logo{href: "/html/app.html"}